#articlePage {
  margin-top: 5%;
  h1 {
    font-size: x-large;
  }

  img {
    margin-top: 2%;
  }

  a {
    color: blue;
  }

  .articleHeader {
    margin-top: 3%;
  }

  .articleContent {
    margin-top: 2%;
  }
}
